.main-header {
  margin: 0 0 4px;
}

.main-link a {
  color: #888;
}
.main-link {
  margin-top: 0;
}

body {
  font: 14px sans-serif;
  padding: 15px;
}

.description {
  max-width: 800px;
}

.example-gallery .example {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
  border: 1px dotted #ccc;
  padding: 10px;
  vertical-align: top;
}

.example h3 {
  margin-top: 0;
}